/* En este archivo iran todas las clases que contengan (l) de layout */

// -- ----------------------- Layout -------------------------- --

.l-container {
    max-width: $max-width;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

