/* En este archivo iran todas las clases que contengan (l) de layout */

// -- ----------------------- Layout -------------------------- --

.l-container {
    max-width: $max-width;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin-right: auto;
    margin-left: auto;

}

// .l-container-title-cards {
//     max-width: $max-width;
//     padding-left: 1rem;
//     padding-right: 1rem;
//     // display: flex;
//     // justify-content: space-between;
//     height: 100%;
//     align-items: center;
//     margin-right: auto;
//     margin-left: auto;
// }

.l-container-cards {
    max-width: $max-width;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    height: 100%;
    // align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;

}




// body {
//     .main-menu {
//         @include telefono(){
//             display: block;
//             position: absolute;
//             top: 0;
//             left: 0;
//             background: $rojo;
//             height: 100%;
//         }
//     }
// }
// .main-menu {
//     @include telefono(){
//         display: block;
//         position: absolute;
//         top: 0;
//         left: 0;
//         background: $rojo;
//         height: 100%;
//     }
// }
// .l-menu{
//     @include tablet(){
//         display: block;
//         position: absolute;
//         top: 0;
//         left: 0;
//         background: $rojo;
//         height: 100%;
//     }
// }