//  ----------------------- Cards --------------------------- 

.titulo-cards {
    font-size: 1.5rem;
    padding: 2.5rem ;
    text-align: center;
}

.main-cards {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;

    
    &__content {
        border: 1.5px solid rgba(137, 43, 226, 0.281);
        margin-bottom: 1rem;
        border-radius: 5px;
        // padding-left: .5rem;
        
    }

    &__imagen {
        top: 0;
        left: 0;
        // width: 100%;
        // height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__description {
        padding-left: .5rem;
    }

    @include tablet(){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-basis: 50%;
    }
}










/* 
.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .producto{
        // display: flex;
        // justify-content: center;
        .imagen-producto{
            width: auto;
            height: auto;
            max-width: 150px;
            max-height: 150px;
            margin-left: 8rem;
        }
        
        flex: 0 1 100%;
        // border: 1px solid $gris;
        
        @include telefono(){
            flex: 0 1 100%;
        }
        @include tablet(){
            flex: 0 1 calc(50% - 1rem);
        }
        
        @include desktop(){
            flex: 0 1 calc(33% - 1rem);
        }

        .info-producto{
            
            padding: 1rem;
        }
    }

} */