//  ----------------------- Cards --------------------------- 

.titulo-cards {
    font-size: 1.5rem;
    padding: 2.5rem ;
    text-align: center;
}

.main-cards {
    display: grid;
    // height: 50vh;
    grid-template-columns: 50% 1fr ;
    grid-template-rows: 50% 50%;
    gap: 1rem;


    @include desktop() {
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2, 50%);
        gap: 1rem;
        // margin-top: 10rem;
    }
    
    
    &__content {
        // border: 1.5px solid rgba(137, 43, 226, 0.281);
        margin-bottom: 1rem;
        border-radius: 5px;
        // flex-wrap: nowrap;;
        // flex: 1 0 auto;
        
        // padding-left: .5rem;
        
    }

    &__imagen {
        
        // width: 100%;
        max-height: 100vh;
        // max-width: 200px;
        // object-fit: cover;
        object-position: center;
    }

    &__description {
        padding-left: .5rem;
    }

    
}










/* 
.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .producto{
        // display: flex;
        // justify-content: center;
        .imagen-producto{
            width: auto;
            height: auto;
            max-width: 150px;
            max-height: 150px;
            margin-left: 8rem;
        }
        
        flex: 0 1 100%;
        // border: 1px solid $gris;
        
        @include telefono(){
            flex: 0 1 100%;
        }
        @include tablet(){
            flex: 0 1 calc(50% - 1rem);
        }
        
        @include desktop(){
            flex: 0 1 calc(33% - 1rem);
        }

        .info-producto{
            
            padding: 1rem;
        }
    }

} */