//  ----------------------- Hero --------------------------- 

.main-banner {
    padding: 7rem 1rem 8rem;
    // height: 15rem;
    // width: 5;
    // background: blue;
    color: $blanco;
    text-align: center;
    position: relative;

    &__content {
        position: relative;
    }

    &__img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
    }

    &__boton {
        @include boton($terciario);
        margin: 1.5rem;
        // color: $blanco;
    

        &:hover {
            // background: $blanco;
            opacity: .5;
            transition: 500ms;
            color: $secundario;
        }

        
    }

    &__info-boton {
        color: $blanco;
        // &:hover {
        //     color: $secundario;
        // }
    }
    
}

/* display: block;
        position: relative;
        @include boton($terciario);
        margin-top: 2rem; */

//     &:hover {
    //         color: $secundario;
    //     }
    // }



/* .container-hero {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    background-attachment: fixed;
    background-size: cover;
    .contenido-hero{
        position: absolute;
    }
    .img-fondo{
        width: 100%;
    }
    span{
        font-family: $fuente_principal;
        font-size: 100px;
        padding: .2rem;
        margin-top: 2rem;
        margin-right: 1rem;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 60px;
    }
    
    .sub-title{
        text-align:right;
        font-size: 30px;
        font-weight: normal;
        margin-bottom: 30px;
    }
    
    .boton{
        display: flex;
        justify-content: flex-end;
        margin-right: 3.5rem;
        a {
        @include boton($terciario);
        }
    }
} */