@mixin box-sizing($box-model) {
    box-sizing: $box-model; 
}
//  Botones

@mixin boton($color) {
    background-color: $color;
    display: inline-block;
    border: 1px solid;
    padding: .5rem 2rem;
    // color: $border-color;
    border-radius: .25rem;

    // padding: .6rem 1rem;
    // margin: 0 32rem;
    // text-decoration: none;
    // text-transform: uppercase;
}

/*-------------- Banner -------------------*/


/*-------------- Gradiente -------------------*/

@mixin gradiente1($color1, $color2){
    background: linear-gradient(to right, $color1 30%, $color2 90%);
}

@mixin gradiente2($color1, $color2){
    background: linear-gradient(to left, $color1 30%, $color2 90%);
}

@mixin gradiente-bg(){
    background: radial-gradient(circle at 90% 24%, rgba(209, 209, 209,0.04) 0%, rgba(209, 209, 209,0.04) 50%,rgba(160, 160, 160,0.04) 50%, rgba(160, 160, 160,0.04) 100%),radial-gradient(circle at 91% 63%, rgba(45, 45, 45,0.04) 0%, rgba(45, 45, 45,0.04) 50%,rgba(87, 87, 87,0.04) 50%, rgba(87, 87, 87,0.04) 100%),radial-gradient(circle at 17% 2%, rgba(124, 124, 124,0.04) 0%, rgba(124, 124, 124,0.04) 50%,rgba(117, 117, 117,0.04) 50%, rgba(117, 117, 117,0.04) 100%),linear-gradient(88deg, rgb(33, 20, 105),rgb(1, 15, 13));
}

/*-------------- Media Queries -------------------*/

// @mixin respond($breakpoint) {

    // @if $breakpoint==telefono {
    @mixin telefono{
        @media only screen and (min-width: #{$telefono}){
            @content;
        }
    }

    // @if $breakpoint==tablet {
    @mixin tablet{
        @media only screen and (min-width: #{$tablet}){
            @content;
        }
    }

    // @if $breakpoint==desktop {
        @mixin desktop{
        @media only screen and (min-width: #{$desktop}){
            @content;
        }
    }
// }