html {
    @include box-sizing(border-box);
}

*,
*:after,
*:before {
    @include box-sizing(inherit);
}

body {
    font-family: $fuente_principal;
}

//  ----------------------- Header--------------------------- 

.hero {
    // @include gradiente-bg;

    @include banner;
}

.barra {
    display: flex;
    justify-content: center;
    min-height: 9rem;
    // @include gradiente1($principal, $secundario);
    @include gradiente-bg();
    color: $blanco;

    .iconos {
        display        : flex;
        flex-direction : column;
        flex           : 1;
        margin-top     : 1.5rem;
        

        @include tablet(){
            flex-direction: row;
            flex: 1;
        }

        .icono{
            flex: 1;
            text-align: center;
        }

        img{
            width: 2rem;
            @include telefono(){
                // float: right;
            }
        }
    }
}

.titulo-cards {
    h1{
        padding: 2.5rem ;
        text-align: center;
        font-family: $fuente_principal;
    }
}

.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .producto{
        // display: flex;
        // justify-content: center;
        .imagen-producto{
            width: auto;
            height: auto;
            max-width: 150px;
            max-height: 150px;
            margin-left: 8rem;
        }
        // .imagen-producto2{
        //     width: 50%;
        // }
        // .imagen-producto3{
        //     width: 50%;
        // }
        // .imagen-producto4{
        //     width: 50%;
        // }
        // .imagen-producto5{
        //     width: 50%;
        // }
        // .imagen-producto6{
        //     width: 100%;
        // }
        
        flex: 0 1 100%;
        // border: 1px solid $gris;
        
        @include telefono(){
            flex: 0 1 100%;
        }
        @include tablet(){
            flex: 0 1 calc(50% - 1rem);
        }
        
        @include desktop(){
            flex: 0 1 calc(33% - 1rem);
        }

        .info-producto{
            
            padding: 1rem;
        }
    }

}

#map {
    width: 100%;
    height: 400px;
}

.sociales {
    @include gradiente2($principal, $secundario);
    display: flex;
    justify-content: center;
    list-style: none;

    .social {
        padding: 2rem;
        
    }

    .icono-facebook {
        img {
            width: 1rem;
        }
    }
    .icono-instagram {
        img {
            width: 1.5rem;
        }
    }
    .icono-twitter {
        img {
            width: 1.5rem;
        }
    }

}

