{{!-- ----------------------- Barra --------------------------- --}}

<div class="barra">
    <div class="iconos contenedor">
        {{!-- <div class="">
        </div> --}}
        <div class="icono icono1">
        <img src="../static/img/search.svg" alt="">
            <p>Lorem, ipsum dolor.<br>
            Lorem ipsum dolor sit amet consectetur.</p>
        {{!-- </div>
        <div class=""> --}}
        </div>
        <div class="icono icono2">
        <img src="../static/img/search.svg" alt="">
            <p>Lorem, ipsum dolor.<br>
            Lorem ipsum dolor sit amet consectetur.</p>
        {{!-- </div>
        <div class=""> --}}
        </div>
        <div class="icono icono3">
        <img src="../static/img/search.svg" alt="">
            <p>Lorem, ipsum dolor. <br>
            Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </div>
</div>