{{!-- ----------------------- Cards--------------------------- --}}

<div class="titulo-cards">
    <h1>Productos</h1>
</div>

<div class="productos contenedor">
    <div class="producto">
        <img class="imagen-producto" src="../static/img/torta1.png">
        <div class="info-producto">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem, ipsum.</p>
            <img src="../static/img/estrellas.png">
            <div class="precio">
                <p class="regular">$</p>
                <p class="oferta">$</p>
            </div>
            {{!-- <a href="#" class="boton" data-id="1">Agregar Al Carrito</a> --}}
        </div>
    </div> <!--.curso-->
    <div class="producto">
        <img class="imagen-producto" src="../static/img/torta1.png">
        <div class="info-producto">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem, ipsum.</p>
            <img src="../static/img/estrellas.png">
            <div class="precio">
                <p class="regular">$</p>
                <p class="oferta">$</p>
            </div>
            {{!-- <a href="#" class="boton" data-id="2">Agregar Al Carrito</a> --}}
        </div>
    </div><!--.curso-->
    <div class="producto">
        <img class="imagen-producto" src="../static/img/torta1.png">
        <div class="info-producto">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem, ipsum.</p>
            <img src="../static/img/estrellas.png">
            <div class="precio">
                <p class="regular">$</p>
                <p class="oferta">$</p>
            </div>
            {{!-- <a href="#" class="boton" data-id="3">Agregar Al Carrito</a> --}}
        </div>
    </div> <!--.curso-->
    <div class="producto">
        <img class="imagen-producto" src="../static/img/torta1.png">
        <div class="info-producto">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem, ipsum.</p>
            <img src="../static/img/estrellas.png">
            <div class="precio">
                <p class="regular">$</p>
                <p class="oferta">$</p>
            </div>
            {{!-- <a href="#" class="boton" data-id="4">Agregar Al Carrito</a> --}}
        </div>
    </div> <!--.curso-->
    <div class="producto">
        <img class="imagen-producto" src="../static/img/torta1.png">
        <div class="info-producto">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem, ipsum.</p>
            <img src="../static/img/estrellas.png">
            <div class="precio">
                <p class="regular">$</p>
                <p class="oferta">$</p>
            </div>
            {{!-- <a href="#" class="boton" data-id="5">Agregar Al Carrito</a> --}}
        </div>
    </div> <!--.curso-->
    <div class="producto">
        <img class="imagen-producto" src="../static/img/torta1.png">
        <div class="info-producto">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem, ipsum.</p>
            <img src="../static/img/estrellas.png">
            <div class="precio">
                <p class="regular">$</p>
                <p class="oferta">$</p>
            </div>
            {{!-- <a href="#" class="boton" data-id="6">Agregar Al Carrito</a> --}}
        </div>
    </div>
</div>