{{!-- ----------------------- Cards--------------------------- --}}

<div class="titulo-cards l-container-title-cards">
    <h1>Productos</h1>
</div>

<div class="main-cards l-container-cards">

    <div class="main-cards__content">
        {{!-- <div> --}}
            <img class="main-cards__imagen" src="static/img/receta1.jpg">
        {{!-- </div> --}}
        <div class="main-cards__description">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem, ipsum.</p>
            <img src="static/img/estrellas.png">
            <div class="precio">
                <p class="regular">$</p>
                <p class="oferta">$</p>
            </div>
        </div>
        {{!-- <a href="#" class="boton" data-id="1">Agregar Al Carrito</a> --}}
    </div>

    <div class="main-cards__content">
        <img class="main-cards__imagen" src="static/img/receta2.jpg">
        <div class="main-cards__description">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem, ipsum.</p>
            <img src="static/img/estrellas.png">
            <div class="precio">
                <p class="regular">$</p>
                <p class="oferta">$</p>
            </div>
        </div>
        {{!-- <a href="#" class="boton" data-id="1">Agregar Al Carrito</a> --}}
    </div>

    <div class="main-cards__content">
        <img class="main-cards__imagen" src="static/img/receta3.jpg">
        <div class="main-cards__description">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem, ipsum.</p>
            <img src="static/img/estrellas.png">
            <div class="precio">
                <p class="regular">$</p>
                <p class="oferta">$</p>
            </div>
        </div>
        {{!-- <a href="#" class="boton" data-id="1">Agregar Al Carrito</a> --}}
    </div>

    <div class="main-cards__content">
        <img class="main-cards__imagen" src="static/img/receta4.jpg">
        <div class="main-cards__description">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem, ipsum.</p>
            <img src="static/img/estrellas.png">
            <div class="precio">
                <p class="regular">$</p>
                <p class="oferta">$</p>
            </div>
        </div>
        {{!-- <a href="#" class="boton" data-id="1">Agregar Al Carrito</a> --}}
    </div>
</div>