{{!-- ----------------------- footer--------------------------- --}}

<footer class="sociales">
        <div class="social icono-facebook">
            <a href="#">
            <img src="static/img/facebook.svg" alt="facebook"></a>
        </div>
        <div class="social icono-instagram">
            <a href="#">
            <img src="static/img/instagram.svg" alt="instagram"></a>
        </div>
        <div class="social icono-twitter">
            <a href="#">
            <img src="static/img/twitter.svg" alt="twitter"></a>
        </div>
</footer>