{{!-- ----------------------- Header--------------------------- --}}

<header class="main-header">
    <div class="l-container main-header__block">
        <img class="main-logo" src="static/img/logo-bl.png" id="logo">
        <div id="main-menu-burger" class="main-menu-burger"></div>
        <nav id="main-nav" class="main-nav show">
            <ul class="main-menu">
                <li class="main-item "><a class="main-link" href="#">Inicio</a></li>
                <li class="main-item"><a class="main-link" href="#">Productos</a></li>
                <li class="main-item"><a class="main-link" href="#">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>