{{!-- ----------------------- Hero --------------------------- --}}

<div class="hero">
    <img src="../static/img/pastel3.jpg" alt="">
    <div class="contenido-hero contenedor">
        <div class="banner-content">
            <span class="title">Sano y delicioso</span>
            <span class="sub-title">Conoce nuestros Productos</span>
            <div class="boton"> 
                <a href="#" >Ver productos</a> 
            </div>
        </div>
    </div>
</div>