{{!-- ----------------------- Hero --------------------------- --}}

<div id="#inicio" class="main-banner">
    <img class="main-banner__img" src="static/img/galletas1.jpg" alt="Pastel de fondo">
    <div class="main-banner__content">
        <h1 class="main-banner__title"> Reposteleria a domicilio</h1>
        <p class="main-banner__description"> Sano y delicioso</p>
        <a class="button" href="#product" >Ver productos</a> 
    </div>
</div>